# Node modules (si tu fais des installs comme json-server en local)
node_modules/

# Dossiers de log et cache
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.cache/

# Ignorer les fichiers système
.DS_Store
Thumbs.db

# Fichiers temporaires ou de build
dist/
build/

# .env si tu veux stocker des variables sensibles
.env
